* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  position: relative;
  color: white;
}

ul {
  display: flex;
  padding-top: 20px;
  text-align: center;
  justify-content: flex-end;
}

ul li {
  margin-right: 15px;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

nav {
  width: 100vw;
  height: 100px;
  position: fixed;
  background: dodgerblue;
  padding-top: 20px;
  padding-right: 50px;
}

main {
  width: 100vw;
  height: 200vh;
  border: 1px solid dodgerblue;
}
